---
- name: Setup Kubernetes resources
  hosts: localhost
  connection: local
  gather_facts: false

  collections:
    - kubernetes.core

  tasks:
    - name: Criar namespace monitoring
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: monitoring
        state: present